<div id="mdCreate" class="modal fade" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
  <h4><b>Nueva reservación</b></h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <div class="modal-body">

      <form id="frmNewReservaciones">

                <div class="card-body">

                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="txtdni">DNI</label>
                        <input type="text" name="txtdni" class="form-control" id="txtdni" placeholder="Ingrese el número de Dni">
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="txtapellido">Apellidos del estudiante</label>
                        <input type="text" name="txtapellido" class="form-control" id="txtapellido" placeholder="Ingrese sus apellidos del estudiante">
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="txtnombre">Nombres del estudiante</label>
                        <input type="text" name="txtnombre" class="form-control" id="txtnombre" placeholder="Ingrese sus nombres del estudiante">
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group">
                          <label>Nivel</label>
                            <select class="form-control">
                              <option> </option>
                              <option>Inicial</option>
                              <option>Primaria</option>
                              <option>Secundaria</option>                          
                            </select>                            
                    </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Grado</label>
                            <select class="form-control">
                              <option> </option>
                              <option>3 años</option>
                              <option>4 años</option>
                              <option>5 años</option>
                              <option>Primero</option>
                              <option>Segundo</option>
                              <option>Tercero</option>
                              <option>Cuarto</option>
                              <option>Quinto</option>
                              <option>Sexto</option>                          
                            </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Condición</label>
                            <select class="form-control">
                              <option></option>
                              <option>Ingresante</option>
                              <option>Trasladado</option>                         
                            </select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="txtcelular">Número de celular</label>
                        <input type="text" name="txtcelular" class="form-control" id="txtcelular" placeholder="Ingrese número de celular">
                      </div>
                    </div>                   
                  </div>

                  
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  <button class="btn btn-secondary" onclick="$('#mdCreate').modal('hide');">Cancelar</button>
                </div>
              </form>
    </div>
</div>
</div>
</div>

              
            

<script>

$(function () {
  $.validator.setDefaults({
    submitHandler: function () {
      $.ajax({
        method:"POST",
        url:"http://apis-app-proyecto.com/api/v1/reservaciones",
        data:{dni:$("#txtdni").val(),apellido:$("#txtapellido").val(),nombre:$("#txtnombre").val(),nivel:$("select").val(),grado:$("select").val(),condicion:$("select").val(),celular:$("#txtcelular").val()}
      }).done(function(response){
        $("#txtdni").val("");
        $("#txtapellido").val("");
        $("#txtnombre").val("");
        $("selectnivel").val("");
        $("selectgrado").val("");
        $("selectcondicion").val("");
        $("#txtcelular").val("");
        $('#mdCreate').modal('hide');

        updateDataTable();
      });
    }
  });
  $('#frmNewReservaciones').validate({
    rules: {
      txtdni: {required: true},
      txtapellido: {required: true},
      txtnombre: {required: true},      
      txtcelular: {required: true},      
    },
    messages: {
      txtdni: {
        required: "Ingrese el DNI del estudiante"
      },
      txtapellido: {
        required: "Ingrese los apellidos del estudiante"
      },
      txtnombre: {
        required: "Ingrese los nombres del estudiante"
      },      
      txtcelular: {
        required: "Ingrese el número de celular"
      }      
      },      
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});

</script>

