<div id="mdCreate" class="modal fade" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
  <h4><b>Eliminar reservación</b></h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
    <div class="modal-body">
      <form id="frmEliminarReservación">
        <h3><b>¿Está seguro de eliminar la reservación?</b></h3>
            <div class="card-footer">
                  <button type="button" class="btn btn-primary" onclick="eliminarReservacion()">Si</button>
                  <button type="button" class="btn btn-secondary" onclick="$('#mdCreate').modal('hide');">No</button>
                </div>
      </form>

      
</div>
</div>
</div>
</div>
